* {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  margin: 0;
  padding: 0;
}

div {
  width: 300px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#screen {
  width: 90%;
  height: 50px;
  font-size: 2.2em;
  margin-bottom: 10px;
  padding: 5px;
  text-align: right;
  border: 1px solid #ccc;
}

button {
  width: 60px;
  height: 60px;
  font-size: 22px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f0f0f0;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #e0e0e0;
}

button:active {
  background-color: #b3b3b3;
  box-shadow: 0 3px #707070;
  transform: translateY(3px);
}
button > img {
  background-color: transparent;
}
.colors {
  background-color: #f98b6b;
  width: 135px;
}
.colors:hover {
  background-color: #ee704a;
}
